<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.loopback.androidapps.saveapp"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk
		android:minSdkVersion="8" />
	<application
		android:name=".SaveApp"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:configChanges="keyboardHidden|orientation">
		<activity
			android:name=".HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.SaveApp">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="OutlaysListActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="OutlayEditActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="NoteActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="NoteViewActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="AccountDetailActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="AccountEditActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="OutlayDetailActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.SaveApp"
			android:name="ChangeAutogeneratedActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="MapAddressSelectionActivity"
			android:theme="@style/Theme.SaveApp">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="MapAccountActivity"
			android:theme="@style/Theme.SaveApp">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="PlotActivity"
			android:theme="@style/Theme.SaveApp"
			android:screenOrientation="landscape">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="AboutActivity"
			android:theme="@style/Theme.SaveApp">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<receiver
			android:name=".WidgetSaveApp"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider" />
		</receiver>
		<uses-library
			android:name="com.google.android.maps" />
	</application>
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>